
body{
	position: absolute;
	width: 100%;
	height: 100%;
}
#console_block{
	
}

.main{
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

#chat_body{
	width: 100%;
	margin-top: 50px;
	height: 500px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}


#chat_block_dialogs{
	padding: 0px;
	border: 1px solid #E0E1DF;
	background-color: #232A32;
}

#chat_block{
	padding: 0px;

}
#chat_block_message{
	height: 100%;
	position: relative;
	border: 1px solid #E0E1DF;
	border-left: none;
	padding: 0px;
}

.dialog_item{
	height: 70px;
	border-bottom: 1px solid #282F37;
	padding: 0px;
	cursor: pointer;
	color: #E3E4E9;
	background-color: #232A32;
}

.dialog_item_message{
	padding-left: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 10px;
}

.dialog_item_name{
	padding-left: 10px;
	padding-top: 5px;
	font-weight: bold;
}

#search_consumer{
	padding: 5px;
	width: 100%;
	height: 50px;
	right: 0px;
}
#search_consumer>div{
	position: absolute;
	color: #E3E4E9;
	right: 55px;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#search_consumer>img{
	position: absolute;
	right: 10px;
	top: 7.5px;
	padding: 5px;
	height: 35px;
	width: 35px;
	border-radius: 50px;
}
.active{
	background-color: #343D46;
	height: 100%;
}

.line_active{
	z-index: 0;
	background-color: #007CFA;
	width: 5px;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#navigation{
	position: absolute;
	height: auto;
	bottom: 10px;
	border-top: 1px solid #E0E1DF;
}

#message_content{
	height: 300px;
	overflow-y:auto;
}

.item_message_block{
    border-bottom: 1px solid #E0E1DF;
    color: #343D46;
}
.item_message_block>*{
	display: inline-block;
	padding: 10px;
}

.item_message_user{
	padding-left: 10px;
	font-weight: bold;
}

.item_message_text{
	padding-left: 10px;
}

#message_block_header{
	display: flex;
	margin: 0px;
	background-color: #f7f7fc;
	border-bottom: 1px solid #E0E1DF;
	border-left: none;
}
#message_block_header>*{
	height: 40px;
}
.back{
	display: flex;
	cursor: pointer;
}

.back:hover{
	background-color: #DBE5F5;
	-webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.back>div{
	text-align: center;
	color: #666666;
	padding: 0px;
	margin: 0px;
}

.back>.col-2>img{
	width: 20px;
	height: 20px;
}


.new_consumer_item{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E1DF;
	cursor: pointer;
	margin: 0px;
}

#consumer_label>div{
	height: 100%;
	color: #343D46;
	padding-left: 20px;
	line-height: 40px;
}

::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:6px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#F2EDED; 
box-shadow:0px 0px 3px #e6eceb inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#C0B9B9; 
box-shadow:0px 1px 1px #fff inset; 
background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 11px; 
}